<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="SwitchKey" value="Pause"/>
        <add key="UseSwitchLanguage" value="true"/>
    </appSettings>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets async="false">
            <target name="File" xsi:type="File" fileName="${basedir}/logs/${logger}/log.${shortdate}.log" keepFileOpen="false" encoding="utf-8">
                <layout type="CSVLayout" delimiter="Tab">
                    <column name="date" layout="${longdate}" />
                    <column name="level" layout="${uppercase:${level}}" />
                    <column name="message" layout="${message}" />
                    <column name="exception" layout="${exception:format=tostring:maxInnerExceptionLevel=3}" />
                </layout>
            </target>
        </targets>
        <rules>
            <logger name="*" minlevel="Trace" writeTo="File" />
        </rules>
    </nlog>
</configuration>